# Backend variables
SPRING_APPLICATION_NAME="Waffles"
BACKEND_PORT=8080
SPRING_RABBITMQ_PASSWORD="guest"
SPRING_RABBITMQ_USERNAME="guest"
SPRING_RABBITMQ_HOST="rabbitmq"
BACKEND_URL="localhost:4433"
KETO_URL="http://keto"
KETO_PORT="4466"
KRATOS_URL="http://kratos"
KRATOS_PUBLIC_PORT="4433"

# RabbitMQ variables
RABBIT_MQ_PORT=5672
RABBIT_MQ_UI_PORT=15672

# MinIO variables
MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9090
MINIO_ACCESS_KEY="admin"
MINIO_SECRET_KEY="admin123"
MINIO_URL="http://minio:9000"

# Ory Kratos variables
ORY_KRATOS_ADMIN_PORT=4434
ORY_KRATOS_PUBLIC_PORT=4433

# Orchestrator variables
CODE_QUEUE_NAME="code-block-queue"
LOGS_ROUTING_KEY="logs.job.update"
LOGS_EXCHANGE="logs"
CODE_BLOCKS_EXCHANGE="code-blocks"
RABBIT_MQ_VIRTUAL_HOST='/'

# Frontend variables
ORY_KRATOS_ADMIN_URL="http://localhost"
ORY_KRATOS_PUBLIC_URL="http://localhost"

# Cassandra variables
CASSANDRA_PORT=9042
CASSANDRA_HOST="cassandra"
CASSANDRA_USERNAME="cassandra"
CASSANDRA_PASSWORD="cassandra"